@import "node_modules/locomotive-scroll/dist/locomotive-scroll";

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 400%;

  -webkit-animation: bgAnimate 3s ease infinite;
  -moz-animation: bgAnimate 3s ease infinite;
  animation: bgAnimate 3s ease infinite;
}

@keyframes bgAnimate {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.776) 0px 0.796192px 0px -1px,
      rgba(0, 0, 0, 0.73) 0px 2.41451px 0px -2px,
      rgba(0, 0, 0, 0.608) 0px 6.38265px 0px -3px,
      rgba(0, 0, 0, 0.2) 0px 20px 0px -4px;
  }
}
